{% extends 'base.html.twig' %}

{% block title %}Signalements{% endblock %}

{% block body %}
    <div class="mt-4">


    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4">            
        <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    
        <h1>Liste des Signalements</h1>

        <a href="{{ path('signalement.new')}}" class="btn btn-primary">Créer une alerte</a>

        <div class="row" data-controller="index">
            {% for signalement in signalements %}
            <a class=" col-4 text-decoration-none" href="{{ path('signalement.show',{id:signalement.id})}}">             
                <div class="card text-white bg-info mb-3 mx-2" style="max-width: 20rem;">
                    <div class="card-header">signalement n°{{signalement.id}}</div>
                    <div class="card-body">
                        <h4 class="card-title">                           
                            {{signalement.numero}} - {{signalement.type}}                             
                        </h4>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Établissement</span> : {{signalement.structure.nom}}</p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Finess</span> : {{signalement.structure.finessG}}</p></p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Agent</span> : </p>
                        {% for organisme in signalement.organisme %}
                            <span class="organisme">{{organisme.type}}</span>
                        {% endfor %}
                        <p class="card-text"><span class="badge rounded-pill bg-success">Infection</span> : {{signalement.infection}}</p>
                        <p class="card-text"><span class="badge rounded-pill bg-success">Cas</span> : {{signalement.cas}}</p>
                        <p class="card-text score-index"><span class="badge rounded-pill bg-success">Score</span> : <span class="score">{{signalement.score}}</span></p>
                    </div>
                </div> 
            </a>
            {% endfor %}
        </div>

        {# <table class="table table-hover">
            <thead>
                <tr>
                    <th class="entetesign" scope="col">Type</th>
                    <th class="entetesign" scope="col">Numero</th>
                    <th class="entetesign" scope="col">Date</th>
                    <th class="entetesign" scope="col">Finess Géographique</th>
                    <th class="entetesign" scope="col">Finess Juridique</th>
                    <th class="entetesign" scope="col">Structure</th>
                    <th class="entetesign" scope="col">Code Postale</th>
                    <th class="entetesign" scope="col">Organisme</th>
                    <th class="entetesign" scope="col">Résistance</th>
                    <th class="entetesign" scope="col">Type Infection</th>
                    <th class="entetesign" scope="col">Agent Étiologique</th>
                    <th class="entetesign" scope="col">Nombre de cas</th>
                    <th class="entetesign" scope="col">Service</th>
                    <th class="entetesign" scope="col">Commentaire</th>
                    <th class="entetesign" scope="col">Souche</th>
                    <th class="entetesign" scope="col">Contact</th>
                    <th class="entetesign" scope="col">Type de cas</th>
                    <th class="entetesign" scope="col">Gravité</th>
                    <th class="entetesign" scope="col">Population</th>
                    <th class="entetesign" scope="col">Recommandation</th>
                    <th class="entetesign" scope="col">Mesure</th>
                    <th class="entetesign" scope="col">Capacité</th>
                    <th class="entetesign" scope="col">Impact</th>
                    <th class="entetesign" scope="col">Score ARS</th>
                    <th class="entetesign" scope="col">Score ES</th>
                    <th class="entetesign" scope="col">Score CPIAS</th>
                    <th class="entetesign" scope="col">Score SPF</th>
                    
                    <th class="entetesign" scope="col">Modification</th>
                    <th class="entetesign" scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
                {% for signalement in signalements %}
                    <tr class="table-success">
                        <th scope="row">{{signalement.type}}</th>
                        <td>{{signalement.numero}}</td>
                        <td>{{signalement.date|date('d/m/Y')}}</td>
                        <td>{{signalement.structure.finessG}}</th>
                        <td>{{signalement.structure.finessJ}}</th>
                        <td>{{signalement.structure.nom}}</td>                        
                        <td>{{signalement.structure.cp}}</td>
                        <td>
                        {% for organisme in signalement.organisme %}
                            <li>{{organisme.type}}</li>
                        {% endfor %}
                        </td>
                        <td>
                        {% for resistance in signalement.resistance %}
                            <li>{{resistance.type}}</li>
                        {% endfor %}
                        </td>
                        <td>{{signalement.infection}}</td>
                        <td>{{signalement.etiologie}}</td>
                        <td>{{signalement.cas}}</td>
                        <td>
                        {% for service in signalement.service %}
                            <li>{{service.nom}}</li>
                        {% endfor %}
                        </td>
                        <td>{{signalement.commentaire}}</td>
                        <td>{% for souche in signalement.souche %}
                            <ul>
                                <li>{{souche.laboratoire}}</li>
                                <li>{{souche.date|date('d/m/Y')}}</li>
                                <li>{{souche.numero}}</li>
                            </ul>
                        {% endfor %}</td>
                        <td>{% for contact in signalement.contact %}
                            <ul>
                                <li>{{contact.type}}</li>
                                <li>{{contact.date|date('d/m/Y')}}</li>
                            </ul>
                        {% endfor %}</td>
                        <td>{{signalement.epidemie}} - {{signalement.cas}}</td>
                        <td>{{signalement.gravite}}</td>
                        <td>{{signalement.population}}</td>
                        <td>{{signalement.reco}}</td>
                        <td>{{signalement.mesure}}</td>
                        <td>{{signalement.capacite}}</td>
                        <td>{{signalement.impact}}</td>
                        <td>{{signalement.ARS}}{{signalement.clotureARS|date('d/m/Y')}}</td>
                        <td>{{signalement.ES}}{{signalement.clotureES|date('d/m/Y')}}</td>
                        <td>{{signalement.CPIAS}}{{signalement.clotureCPIAS|date('d/m/Y')}}</td>
                        <td>{{signalement.SPF}}{{signalement.clotureSPF|date('d/m/Y')}}</td>
                        
                        <td><a class="btn btn-info" type="button" href='{{ path('signalement.edit', {id: signalement.id})}}'>Modifier</a></td>
                        <td><a class="btn btn-secondary" type="button" href='{{ path('signalement.delete', {id: signalement.id})}}'>Effacer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> #}
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(signalements)}}
        </div>
    </div>
{% endblock %}