{% extends 'base.html.twig' %}

{% block title %}Signalements{% endblock %}

{% block body %}
    <div class="gridsignalement">


    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4 col12">            
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}
    
        <div class="col12 d-flex flex-row justify-content-between align-items-center w-100 px-4">
            <h1 class="col12 m-0">Liste des Signalements</h1>
            {# <p>{% include 'src/Data/testuser.csv'%}</p> #}
            <a href="{{ path('signalement.new')}}" class="btn btn-danger h-75">Créer un signalement</a>
        </div>
        <div class="side">   
        {# <button aria-expanded="false" class="togle">filtre</button>          #}
            {% include 'pages/signalement/_filter.html.twig' with {form: form} only %}
        </div>
        <div class="map">  
            {% set markers = [] %}
            {% for signalement in signalements %}
                {% set markers = markers|merge([{
                    'position' : [signalement.structure.latitude, signalement.structure.longitude],
                    'title' : signalement.structure.nom
                }]) %}
            {% endfor %}
            {{ ux_map(
                center : [47.65, 1.50],
                zoom : 7,
                markers : markers,
                attributes : {
                    class : 'mapimap',
                    
                    style : 'height: 35rem; width: 100%',
                }
            )}}
        </div>
        
        <div class="row list" data-controller="index">
            {% for signalement in signalements %}
            <a class=" col-12 text-decoration-none" href="{{ path('signalement.show',{id:signalement.id})}}">             
                <div class="card text-white bg-info mb-3 mx-2" style="max-width: 20rem;">
                    {# <div class="card-header">signalement n°{{signalement.id}}</div> #}
                    <div class="card-header gridsignalement">
                        <div class="col4">{{signalement.numero}} - {{signalement.type}}</div>
                        <div class="col4 d-flex flex-row justify-content-center align-items-center">
                            <p class="d-flex justify-content-center align-items-center mb-0" m-1>ES <span class="indic">{{signalement.ES}}</span></p>
                            <p class="d-flex justify-content-center align-items-center mb-0" m-1>ARS <span class="indic">{{signalement.ARS}}</span></p>
                            <p class="d-flex justify-content-center align-items-center mb-0" m-1>CPIAS <span class="indic">{{signalement.CPIAS}}</span></p>
                            <p class="d-flex justify-content-center align-items-center mb-0" m-1>SPF <span class="indic">{{signalement.SPF}}</span></p>
                        </div>
                        <div class="col4 jse">{{signalement.date|date('d/m/Y')}}</div>
                    </div>
                    <div class="card-body">
                        {# <h4 class="card-title">                           
                            {{signalement.numero}} - {{signalement.type}}                             
                        </h4> #}
                        <div class="resume w-100">
                            <p class="card-text d-flex flex-column p-1"><span class="badge rounded-pill bg-secondary">Établissement</span><span class="text-center">{{signalement.structure.nom}}</p>
                            <p class="card-text d-flex flex-column p-1"><span class="badge rounded-pill bg-secondary">Finess</span><span class="text-center">{{signalement.structure.finessG}}</span></p>
                            <p class="card-text d-flex flex-column p-1"><span class="badge rounded-pill bg-secondary">Infection</span><span class="text-center">{{signalement.infection}}</span></p>
                            <p class="card-text d-flex flex-column p-1"><span class="badge rounded-pill bg-secondary">Cas</span>
                            
                            {% if signalement.casC > signalement.casO %} 
                                <span class="text-center nbC">{{signalement.casO}}</span>
                                <span class="text-center nbB">{{ signalement.casC }}</span>
                            {% else %}
                                <span class="text-center nbA">{{signalement.casO}}</span>
                            {% endif %}
                            <p class="card-text score-index d-flex flex-column p-1"><span class="badge rounded-pill bg-secondary">Score</span><span class="score text-center">{{signalement.score}}</span></p>
                        </div>
                        <div class="card-text d-flex flex-column p-1">
                            <span class="badge rounded-pill bg-secondary">Agent Infectieux</span>
                                <div class="d-flex flex-row">
                                {% for agent in signalement.agent %}
                                <div>
                                    <ul>
                                        <li>{{agent.organisme}}</li>
                                        {% for resistance in agent.resistance %}
                                            <ul>
                                                <li>{{ resistance.type}}</li>
                                            </ul>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endfor %}
                                </div>
                        </div>
                    </div>
                </div> 
            </a>
            {% endfor %}
        </div>       
        <div class="d-flex justify-content-center">
            {# {{ knp_pagination_render(signalements)}} #}
        </div>
    </div>
{% endblock %}