{% extends 'base.html.twig' %}

{% block title %}Structures{% endblock %}

{% block body %}
    <div class='container mt-4'>
        <h1>Ajouter un signalement</h1>

        {{ form_start(form) }}

        <div class="grid" data-controller="signalement">
        
            <div class="col3 h50">
                {{ form_row(form.type, {
                    attr: {
                        'data-signalement-target': 'type',
                        'data-action' : 'change->signalement#updateLengthNum'
                    }
                }) }}
            </div>

            <div class="col3 h50">
                {{ form_row(form.numero, {
                    attr: {
                        'data-signalement-target': 'numero',
                    }
                }) }}
             
            </div>

            <div class="col3 h50">
                {{ form_row(form.date) }}
            </div>

            <div class="col3 h50">
                {{ form_row(form.structure) }}
            </div>

            <div class="col12">
                {{ form_row(form.agent, {
                    attr: {
                        'data-signalement-target': 'agent',
                        'data-action' : 'click->signalement#agentNew'
                    }
                }
                ) }}
            </div>

            <div class="col4">
                {{ form_label(form.infection) }}      
                {{ form_widget(form.infection) }}      
            </div>

            <div class="col4">
                {{ form_row(form.cas, {
                    attr: {'data-signalement-target': 'cas',
                    'data-action' : 'change->signalement#updateCas           change->signalement#updateScore'               
                    }
                }) }}                
            </div>

            <div class="col4">
                {{ form_row(form.epidemie, {
                    attr: {'data-signalement-target': 'epidemie'}
                }) }}
            </div> 

            <div class="col12">
                {{ form_row(form.service) }}
            </div>

            <div class="col12">
                {{ form_row(form.commentaire) }}
            </div>
           
            <div class="col12">
                {{ form_row(form.souche) }}
            </div>

            <div class="col6">
                {{ form_row(form.etiologie, {
                    attr: {
                        'data-signalement-target': 'etiologie',
                        'data-action': 'change->signalement#updateScore'
                    }
                }) }}
            </div>   

            <div class="col6">
                {{ form_row(form.gravite, {
                    attr: {
                        'data-signalement-target' : 'gravite',
                        'data-action' : 'change->signalement#updateScore'
                    }
                }) }}
            </div> 

            <div class="col6">
                {{ form_row(form.population, {
                    attr: {
                        'data-signalement-target' : 'population',
                        'data-action' : 'change->signalement#updateScore'
                    }
                }) }}
            </div> 

             <div class="col6">
                {{ form_row(form.reco, {
                    attr: {
                        'data-signalement-target' : 'reco',
                        'data-action' : 'change->signalement#updateScore'
                    }
                }) }}
            </div> 

            <div class="col4">
                {{ form_row(form.mesure, {
                    attr: {
                        'data-signalement-target' : 'mesure',
                        'data-action' : 'change->signalement#updateScore'
                    }
                }) }}
            </div> 

            <div class="col4">
                {{ form_row(form.capacite, {
                    attr: {
                        'data-signalement-target' : 'capacite',
                        'data-action' : 'change->signalement#updateScore'
                    }
                }) }}
            </div>

          <div class="col4">
                {{ form_row(form.impact, {
                    attr: {
                        'data-signalement-target' : 'impact',
                        'data-action' : 'change->signalement#updateScore'
                    }
                }) }}                     
            </div>

            <div class="col12">
                {{ form_row(form.contact, 
                    {
                    attr: {
                        'data-signalement-target': 'contact',
                        'data-action' : 'click->signalement#contactNew'
                    }
                }) }}
            </div>   

            <div class="hidden col4">
                {{ form_row(form.score, {
                    attr: {'data-signalement-target': 'score'}
                }) }}
            </div> 

            <div class="d-flex col12 mt-4">
                <p class="scoreTot">Score Total : <span id="scoreTotal">0</span><p>
            </div>

            <div class="col12 score grid">
                <div class="col3 p-3 border border-2 rounded border-black eta ars">
                    <h3>ARS</h3>
                    <div class="form-group note">
                        {{ form_row(form.ARS, {
                            attr: {
                                'data-signalement-target' : 'ARS',
                                'data-action' : 'change->signalement#colorNote'
                            }
                        })}}                   
                    </div>
                    <div class="form-group note">
                        {{ form_row(form.clotureARS) }}                   
                    </div>
                </div>
                <div class="col3 p-3 border border-2 rounded border-black eta es">
                    <h3>ES</h3>
                    <div class="form-group note">
                        {{ form_row(form.ES, {
                            attr: {
                                'data-signalement-target' : 'ES',
                                'data-action' : 'change->signalement#colorNote'
                            }
                        }) }}                   
                    </div>
                    <div class="form-group note">
                        {{ form_row(form.clotureES) }}                   
                    </div>
                </div>
                <div class="col3 p-3 border border-2 rounded border-black eta cpias">
                    <h3>CPIAS</h3>
                    <div class="form-group note">
                        {{ form_row(form.CPIAS, {
                            attr: {
                                'data-signalement-target' : 'CPIAS',
                                'data-action' : 'change->signalement#colorNote'
                            }
                        }) }}                   
                    </div>
                    <div class="form-group note">
                        {{ form_row(form.clotureCPIAS) }}                   
                    </div>
                </div>
                <div class="col3 p-3 border border-2 rounded border-black eta spf">
                    <h3>SPF</h3>
                    <div class="form-group note">
                        {{ form_row(form.SPF, {
                            attr: {
                                'data-signalement-target' : 'SPF',
                                'data-action' : 'change->signalement#colorNote'
                            }
                        }) }}                   
                    </div>
                    <div class="form-group note cal">
                        {{ form_row(form.clotureSPF) }}                   
                    </div>
                </div>
            </div>

            <div class="col4">
                {{ form_row(form.submit) }}      
            </div>
        </div>
        {{ form_end(form) }}
    <div>


{% endblock %}