{% extends 'base.html.twig' %}

{% block title %}Signalement - {{signalement.numero}}{% endblock %}

{% block body %}
 <div class="gridpage">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            <strong>{{ message }}</strong>
        </div>
    {% endfor %}

    <div class="col12">
        <h1 class="mt-4 d-flex flex-row justify-content-between">
            <span>{{signalement.type}} - {{signalement.numero}}</span> <span>{{signalement.structure.nom}}</span> <span>{{signalement.date|date('d/m/Y')}}</span>
        </h1>
    </div>

    {# <div class="griddetail"> #}
        <div class="col1 show">
            <p class="mt-4 badge bg-primary">Finess de la structure</p>
            <ul>
                <li>Géographique {{signalement.structure.finessG}}</li>
                <li>Juridique {{signalement.structure.finessJ}}</li>
            </ul>
        </div>
    
        <div class="col2 show">
            <p class="mt-4  badge bg-primary">Adresse de la structure</p> 
            <ul>
            <li>{{signalement.structure.numero}}</li>
            <li>{{signalement.structure.voie}} {{signalement.structure.adresse}}</li>
            <li>{{signalement.structure.cp}}</li>
            <li>{{signalement.structure.ville}}</li>
            <li>{{signalement.structure.departement}}</li>
            </ul>
        </div>
     
        <div class="col2">
            <p class="mt-4 badge bg-primary">Services concerné</p>
                <ul>    
                {% for service in signalement.service %}
                    <li>{{service.nom}}</li>
                {% endfor %}
                </ul>  
        </div>  
        <div>
            <p class="mt-4 badge bg-primary">Épidémie</p>
            {# </br>{{ (signalement.epidemie == 'Épidémie') ? 'Oui'  : 'Non' }} - {{ signalement.casO}} #}
            <div>
                {% if signalement.casC > signalement.casO %} 
                    <span class="text-center nbB">{{ signalement.epidemie }}</span></br><span class="text-center nbC">{{signalement.casO}}</span> -> <span class="text-center nbB">{{ signalement.casC }}</span>
                {% else %}
                    <span class="text-center nbB">{{ signalement.epidemie }}</span></br><span class="text-center nbA">{{signalement.casO}}</span>
                    
                {% endif %}
            </div>
        </div>
        <div class="col2">                
            <p class="mt-4 badge bg-primary">Souche</p>
            {% for souche in signalement.souche %}
                <div>
                    <ul>
                        <li>Souche n°{{souche.numero}}</li>
                        <li>{{souche.laboratoire}}</li>
                        <li>{{souche.date|date('d/m/Y')}}</li>
                    </ul>
                </div>
            {% endfor %}  
        </div>  
        <div>
            <p class="mt-4 badge bg-primary">Contact</p>
            {% for contact in signalement.contact %}
                <p>{{contact.type}} le {{contact.date|date('d/m/Y')}}</p>
            {% endfor %}
        </div>
        
        <div class="col2">
            <p class="mt-4 badge bg-primary">Agent Infectieux</p>
            {% for agent in signalement.agent %}
            <ul>
                <li> : {{agent.organisme}}</li>
                {% for resistance in agent.resistance %}
                    <ul>
                        <li>{{ resistance.type}}</li>
                    </ul>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div>
                <p class="mt-4 badge bg-primary">Agent étiologique</p>
            <span class="etio">{{signalement.etiologie}}</span>           
        </div>        

        <div>
            <p class="mt-4 badge bg-primary">Gravité</p>
            </br>{{signalement.gravite}}
        </div>           
        <div class="col2">
            <p class="mt-4 badge bg-primary">Population à risque</p>
            <span class="popu">{{signalement.population}}</span>
        </div>
        <div>
            <p class="mt-4 badge bg-primary">Mesures conforme</br> aux recommandation</p>
            <span class="reco">{{signalement.reco}}</span>
        </div>
        <div>
            <p class="mt-4 badge bg-primary">Mesures efficaces</p>
            <span class="mesur">{{signalement.mesure}}</span>
        </div>
        <div>
            <p class="mt-4 badge bg-primary">Capacité de gestion locale</p>
            <span class="capa">{{signalement.capacite}}</span>
        </div>
        <div>
            <p class="mt-4 badge bg-primary">Impact échelle régionale</br> ou nationale</p>
            <span class="impac">{{signalement.impact}}</span>
        </div>
        <div>
            <p class="mt-4 badge bg-primary">Infection</p>
            </br><span class="infect">{{signalement.infection}}</span>
        </div>
        <div class="col4">
            <p class="mt-4 badge bg-primary">Cotation</p>            
            <ul>
                <li class="note"> ARS : <span class="couleur">{{signalement.ARS}}</span> {{signalement.clotureARS|date('d/m/Y')}}</li>
                <li class="note"> ES : <span class="couleur">{{signalement.ES}}</span> {{signalement.clotureES|date('d/m/Y')}}</li>
                <li class="note"> CPIAS : <span class="couleur">{{signalement.CPIAS}}</span> {{signalement.clotureCPIAS|date('d/m/Y')}}</li>
                <li class="note"> SPF : <span class="couleur">{{signalement.SPF}}</span> {{signalement.clotureSPF|date('d/m/Y')}}</li>
            </ul>
        </div>
        <div class="col6">
            <p class="mt-4 badge bg-primary">Commentaire</p>
            <p>{{signalement.commentaire}}</p>
        </div>
        {# <div><p class="mt-4 badge bg-primary">Score : <span class="score">{{signalement.score}}</span></p></div>
        <div class="col12 d-flex mb-2"> #}
        <div class="col6">
            <p class="mt-4 badge bg-primary">Score</p>
            <p class="score">{{signalement.score}}</p>
        </div>
        
            
            <td><a class="btn btn-info modif" type="button" href='{{ path('signalement.edit', {id: signalement.id})}}'>Modifier</a></td>
            <td><a class="btn btn-secondary ms-2" type="button" href='{{ path('signalement.delete', {id: signalement.id})}}'>Effacer</a></td>
            <td><a class="btn btn-secondary ms-2" type="button" href='{{ path('signalement.index', {id: signalement.id})}}'>Retour</a></td>
        </div>
    {# </div> #}
        
    
    {# {% if app.user %}
    
    {% else %}
        <p>Cette recette n'est pas publique</p>
    {% endif %} #}
  
</div>


{% endblock %}